@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body class */
.body-class{
  overflow-x: hidden;
  background-color: #242333;
}

html{
  scroll-behavior: smooth;
}


/* Intro-Overlay */
.overlay {  
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #05386b; 
  overflow: hidden; /* Disable scroll */
  transition: 1.75s; /* 1 second transition effect slide up the overlay (height) */
  filter: drop-shadow(0 0px 20px rgb(225, 225, 225));
}

/* Position the content inside the overlay */
#overlay-content {
    max-width: fit-content;
    margin: 100px auto;
}

/* typing animation */
#console{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#569CD6;
}
#log{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#D7BA7D;
}
.parenthesis{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#CD9731;
}

#content{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#CE9178;
}

#type-intro h1{
  padding-top: 10px;
  max-width: fit-content;
  font-family: sans-serif;
  font-size: 40px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 3s steps(100, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* bouncing effect on scroll down text */
.text-scrolldown{
    max-height: fit-content;
    margin-top: 45%;
    animation: bounce 1s linear;
    animation-iteration-count: infinite;
    font-size: 70px;
    color: #edf5e1;
}

@keyframes bounce{
    20%,50%,80%,to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px);
    }
}

/* Top Navigation Bar */
header{
  background: #242333;
  position: fixed;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  padding: 0;
  transition: all .5s;
  z-index: 9;
}

#nav-bar{
  display:grid;
  grid-template-columns: 100%;
  width: 100%;
  max-height: fit-content;
  margin: 10px auto;
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  /* font-family: 'Russo One', sans-serif; */
  max-height: 65px;
  /* box-shadow: 0px 5px 0px #dedede; */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.img-logo{
    width: 100px;
}
#home{
  display:flex;
  justify-content: center;
  align-items: center;
}

#links{
    display:flex;
    justify-content: center;
    align-items: center;
}
nav {
  width: 80%;
  margin: 0 auto;
  background: inherit;
  padding: 10px 0;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 10px;
  letter-spacing: 3px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  transform: scale(1.2);
  color: #fff;
}

/* stroke animation on hover*/
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fff;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* pop-up on scroll up (append) */
.scroll-down{
  transform: translate3d(0, -100%, 0)
}

.scroll-up{
  filter: drop-shadow(0 -10px 10px rgb(60, 60, 60));
}

/* back to top button */
/* change naming later */
#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(60, 60, 60); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 150px; /* Rounded corners */
}

.arrow-up{
  width: 50px;
}

#topBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
  animation: bounce-in 1s linear;
  animation-iteration-count: infinite;
}

@keyframes bounce-in{
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}
/* Main Contents Container */
.main-contents{
    font-family: 'Oswald', sans-serif;
    /* font-family: Futura,Trebuchet MS,Arial,sans-serif; */
    background-color: #242333;
    padding-top: 110px;
    margin-left: 10%;
    margin-right: 10%;
}
/* section global */
.section{
    min-height:100vh;
    padding: 10px;
}
.section h1{
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 3rem;
}
/* section 1 */

/* .about-inner-container{
  position: relative;
  min-height: 100vh;
  border: solid;
}
.picture-container{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.self-image{
  width: 65%;
  border-radius: 100px;
  /* border-radius: 200px; */
  filter: drop-shadow(0 0 20px rgb(40, 40, 40));
}

.web-dev-intro{
  font-size: 3rem;
  color: #fff;
}
.intro-media-icons{
  position: relative;
  display: inline-block;
}

.intro-media-icons i{
  transform: scale(3);
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}
.intro-media-icons a{
  padding: 20px;
  margin: 0 auto;
}

.intro-media-icons i:hover{
  transform: scale(4);
}

.about-me-text-container{
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: justify;
  color: #fff;
}
.about-me-text{
  font-size: 1.5rem;
  margin-right: 10%;
}
/* Section 2 */


/* swiper */
.myProjects{
  height: 75vh;
}

/* swiper card */
#card{
  position: relative;
  background: #ecfcff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-height: 85%;
}

#card:hover{
  transform: scale(1.05);
  transition: .75s;
}

#card:hover .card-content{
   filter: blur(.5rem);
}
 


/* bingles overlay */
#bingles-overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 0; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  border-radius: 20px;
  transition: .75s;
}
/* Portfolio overlay */
#portfolio-overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 0; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  border-radius: 20px;
  transition: .75s;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 3;
  max-height: 100%;
}

.s2 .image{
  width: inherit;
}


.s2 .card .image img{
  width: 100%;
  padding: 3px;
  background: #fff;
}



.media-icons{
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10%;
}

.media-icons i{
  transform: scale(5);
  color: #000;
  transition: all 0.3s ease;
  cursor: pointer;
}
.media-icons a{
  padding: 50px;
  margin: 0 auto;
}

.media-icons i:hover{
  transform: scale(6);
}

.project-details-container{
  overflow: hidden;
  display: none;
  height: 0%;
  transition: height .75s;
  display: relative;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  color:  #fff;
  height: inherit;
}

#card:hover .project-details-container{
  padding: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.project-name{
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 600;
  color: black;
}

.project-details-container .project-details{
  color: black;
  text-align: justify;
  padding: 50px;
  margin: 0;
  font-size:22px;
  font-weight: 500;
}


.technologies-used{
  color: black;
  columns: 2;
  padding: 20px;
  font-size:22px;
  margin-left: 10%;
  text-align: left;
}


.swiper-nav-container{
    position: relative;
    height: inherit;
}

.s2 .swiper-pagination-bullet{
  position: relative;
  height: 7px;
  width: 10px;
  border-radius: 25px;
  background: rgb(255, 255, 255);
}

.s2 .swiper-pagination-bullet-active{
  position: relative;
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: white;
}

/* section 3 */
.content-3{
  min-height: 90vh;
  display: grid;
  grid-template-columns: 100%;
}
/* timeline */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.exp-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.exp-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.exp-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .exp-container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .exp-container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}

/* section 4 */
.cert-image{
    width: 200px;
}

.certifications-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* section 5 */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #05386b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submit-btn-container{
  text-align: center;
}

input[type=submit]:hover {
  opacity: .9;
}

.form-container {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
}